<!DOCTYPE html>
<html>
  <head>
    <title>Hanami Bookshelf</title>
    <%= favicon %>
    <%= vite_client %>
    <%= vite_javascript 'application' %>

  </head>
  <body>
    <%= navbar %>
    <div class="container mx-auto py-2">
    <%= yield %>
    </div>
  </body>
</html>
