<!DOCTYPE html>
<html>
  <head>
    <title>Hanami Bookshelf</title>
    <%= favicon %>
    <%= vite_client %>
    <%= vite_javascript 'application' %>

  </head>
  <body class="bg-warm-gray-200">
    <%= navbar %>
    <main class="md:container md:mx-6 py-2">
    <%= yield %>
    </main>
  </body>
</html>
